div .dyCard {
    border-radius: 25px;
    padding: 50px; 
    margin: 5px;
    width: 50%;
}

.dyCardT{
    font-size: larger;
}

.dyCardP {
    font-size: medium;
    margin: 15px 0;
}

.cardContainer {
    display: flex;
}