@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Importa a fonte Inter do Figma */

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100vh;
}